body {
  font-family: helvetica,arial,sans-serif;
  }
table {
  border-collapse: collapse; 
  border: 1px solid black;
  }
td {
  padding: 0.25em;
  }
th {
  font-weight: bold;
  background: #c0c0c0;
  padding: 0.5em;
  }
.title {
  font-size: 2em;
  font-weight: bold;
  }
.name {
  padding: 0.5em;
  }
.update {
  color: #dd3333;
  font-size: 0.75em;
  }
